/** @format */

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6; /* line height is 1.6 times the */
  color: #333;
}

header {
  padding: 1rem 5%; /* 1rem is top&bottom, 5% is left&right, rem is "relative to elements's size, the % is relative to the width of teh header's containg element */
  background-color: #fff;
}

nav ul {
  display: flex; /* makes this a flex container */
  justify-content: flex-end; /* aligns flex items along main axis, horizontally */
  list-style-type: none; /* removes default bullet points from list items */
}

nav ul li {
  margin-left: 4rem; /* change if I want the menu bar more spread out*/
}

nav ul li a {
  text-decoration: none; /* removes default underline from links */
  color: #666;
}

nav ul li a:hover {
  color: #4a8; /* changes the color of the text of menu items when hoovered */
}

img {
  filter: drop-shadow(200px 200px 200px rgba(51, 61, 58, 0.9));
}

.image {
  flex: 1;
  text-align: right;
}

.image img {
  max-width: 35%;
  height: auto;
  border-radius: 10px;
}

main {
  padding: 2rem 5%; /* adjusts all the margins top/bottom & left/right of the elements in main */
}

a[href="indexPort.html"] {
  /* display: flex; /* I'm not understanding this enough to use it  */
  align-items: center;
  justify-content: space-between;
  height: 8vh;
}

.content {
  flex: 1;
}

h1 {
  font-size: 5rem;
  text-align: center;

  margin-bottom: 0.2rem;
}

h2 {
  font-size: 9rem;
  text-align: center;
  margin-bottom: 5 rem;
}

p {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}
