/** @format */

/* Use a div element to establish the size of area.  Use the image as a background image to the div */

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Turns the container into a grid layout.  Creates one column that takes the full width.  3rd, the first row "auto" adjust the height automatically based on the content, the second takes up the remaining space and the third row is the same as the first, "auto".  The 4th line is telling to set the minimum height to 100% of the viewport height so it takes at least the full height of the screen */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* grid-column 1 / -1 means the header will span across all columns, from the first (1) to the last (-1), ensuring the header will take up the full width. */

header {
  grid-column: 1 / -1;
  padding: 1rem 5%;
  background-color: #0d0d0d;
  font-size: 1em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links {
  display: flex;
  gap: 10px;
}

.social-links a {
  color: #ffffff; /* Match the color of your nav links */
  font-size: 1.5rem;
}

.social-links a:hover {
  color: rgb(132, 247, 209); /* Match your hover color */
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 2%;
  padding: 0;
}

nav ul li {
  margin-left: 4rem;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2vw;
}

@media screen and (max-width: 768px) {
  nav ul li a {
    font-size: 16px; /*controlling the min size for smaller screens */
  }
}

@media screen and (min-width: 1920px) {
  nav ul li a {
    font-size: 24px; /* maximimum font size for larger screens */
  }
}

nav ul li a:hover {
  color: rgb(132, 247, 209);
  font-size: 28px;
}

img {
  filter: drop-shadow(200px 200px 200px rgba(51, 61, 58, 0.9));
}

.image {
  flex: 1;
  text-align: left;
}

.image img {
  max-width: 30%;
  height: auto;
  border-radius: 10px;
  margin-left: 1rem;
}

main {
  padding: 2rem 5%;
}

h1 {
  font-size: 2rem;
  text-align: right;
  margin-bottom: 0.2rem;
}

h2 {
  font-size: 5rem;
  text-align: right;
  margin: 1rem 1rem 1rem 1rem;
}

p {
  font-size: 1.6rem;
  text-align: right;
  margin-bottom: 2rem;
}
